/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --main-bg:#6990F2;
  --whaite-bg:#fff;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--main-bg) ;
    min-height: 100vh;
}
::selection{
    color: var(--whaite-bg);
    background-color: var(--main-bg);
}

.wrapper{
    width: 450px;
    background-color: var(--whaite-bg);
    border-radius: 5px;
    box-shadow: 7px 7px 12px rgb(0, 0,0,0.05);
    padding: 5%;
    

}
.wrapper header{
    display: flex;
    cursor: pointer;
    /* margin: 30px 0; */
    font-weight: 600;
    justify-content: center;
    padding: 2%;
}
.wrapper form{
    display: flex;
    cursor: pointer;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
    margin: 0px 30px;

}
form :where(i, p){
    color: var(--main-bg);
  }
form i{
    font-size: 50px;
   
}
form i::before{
   display: flex;
   justify-content: center;
}
form p{
    margin-top: 15px;
    font-size: 16px;
  }
  section .row{
    margin: 10px 0px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section .row i{
    color: #6990F2;
    font-size: 30px;
  }
  section .details span{
    font-size: 14px;
  }
  .progress-area .row .content{
    width: 100%;
    margin-left: 15px;
  }
  .progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
  }
  .progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
  }
  .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
  }
  .uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
  }
  .uploaded-area.onprogress{
    max-height: 150px;
  }
  .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-area .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
  }
  .uploaded-area i.fa-check{
    font-size: 16px;
  }
  input.file-input {
    opacity: 0;
    
}
